.arrow{
 width: 0;
 height: 0;
 margin: 0 -9px;
 border-left: 18px solid transparent;
 border-right: 18px solid transparent;
 border-bottom: 18px solid #623ea3;
 /*filter: drop-shadow(0 0 27 #228CDB);*/
 animation: blink 1s infinite;
}

.arrow.down{
	transform: rotate(180deg);
}

.arrow.one{
	animation-delay: -0.96s;
}

.arrow.two{
	animation-delay: -0.96s;
}

.arrow.three{
	animation-delay: -0.96s;
}

.arrow.four{
	animation-delay: -0.96s;
}

.arrow.five{
	animation-delay: -0.96s;
}

.arrow.six{
	animation-delay: -0.8s;
}

.arrow.seven{
  animation-delay: -0.8s;
}

.arrow.eight{
  animation-delay: -0.8s;
}

.arrow.nine{
  animation-delay: -0.64s;
}

.arrow.ten{
  animation-delay: -0.48s;
}

.arrow.eleven{
  animation-delay: -0.32s;
}

.arrow.twelve{
  animation-delay: -0.32s;
}

.arrow.thirteen{
  animation-delay: -0.32s;
}

.arrow.fourteen{
  animation-delay: -0.16s;
}

.arrow.fifteen{
  animation-delay: -0.16s;
}

.arrow.sixteen{
  animation-delay: -0.16s;
}

.arrow.seventeen{
  animation-delay: -0.16s;
}

.arrow.eighteen{
  animation-delay: -0.16s;
}

.arrow-two{
 width: 0;
 height: 0;
 margin: 0 -24px;
 border-left: 48px solid transparent;
 border-right: 48px solid transparent;
 border-bottom: 48px solid #007bb5;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 /*filter: drop-shadow(0 0 27 #228CDB);*/
 animation: spin3 3s infinite;
 transform: rotate(270deg);
 background-image: none;
 background-color: none;
 transition: 1s;
}

.row:hover .arrow-two{
  /*animation: none;*/
  opacity: 0;
}
.row:hover .arrow-three{
  opacity: 0;
  /*animation: none;*/
}

.arrow-three{
  width: 0;
  height: 0;
  margin: 0 -24px;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 48px solid #007bb5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /*filter: drop-shadow(0 0 27 #228CDB);*/
  animation: spin2 3s infinite;
  transform: rotate(90deg);
  background-image: none;
  background-color: none;
  transition: 1s;
}

.second-row {
  margin-top: 49px;
}

@keyframes spin3{
  0% {
    transform: rotate(270deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(450deg);
  }
  75% {

    transform: rotate(540deg);
  }
  100% {
  }
}

@keyframes spin2{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  75% {

    transform: rotate(360deg);
  }
  100% {
  }
}

@keyframes blink{
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
