@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.arrow{
 width: 0;
 height: 0;
 margin: 0 -9px;
 border-left: 18px solid transparent;
 border-right: 18px solid transparent;
 border-bottom: 18px solid #228CDB;
 animation: blink 1s infinite;
}

.arrow.down{
	transform: rotate(180deg);
}

.arrow.one{
	animation-delay: -0.96s;
}

.arrow.two{
	animation-delay: -0.96s;
}

.arrow.three{
	animation-delay: -0.96s;
}

.arrow.four{
	animation-delay: -0.96s;
}

.arrow.five{
	animation-delay: -0.96s;
}

.arrow.six{
	animation-delay: -0.8s;
}

.arrow.seven{
  animation-delay: -0.8s;
}

.arrow.eight{
  animation-delay: -0.8s;
}

.arrow.nine{
  animation-delay: -0.64s;
}

.arrow.ten{
  animation-delay: -0.48s;
}

.arrow.eleven{
  animation-delay: -0.32s;
}

.arrow.twelve{
  animation-delay: -0.32s;
}

.arrow.thirteen{
  animation-delay: -0.32s;
}

.arrow.fourteen{
  animation-delay: -0.16s;
}

.arrow.fifteen{
  animation-delay: -0.16s;
}

.arrow.sixteen{
  animation-delay: -0.16s;
}

.arrow.seventeen{
  animation-delay: -0.16s;
}

.arrow.eighteen{
  animation-delay: -0.16s;
}
