.fifth h1{
  font-family: 'Montserrat', sans-serif;
}

.fifth span{
  color: black;
}

.first-letter{
  color: blue !important;
}

.second-letter{
  color: red !important;

}

.third-letter{
  color: yellow !important;
}

.fifth-letter{
  color: green !important;
}
