/*rotation*/

.rotaters-container{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  background-image: none;
}

.rotaters{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forth h3 {
  color: #55ACEE;
}

.rotater{
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: none;
}

.perspective { -webkit-perspective: 300px; perspective: 300px; }

.rotater span{
  margin-top: 20px;
  color: #55ACEE;
  opacity: .5;
  font-weight: bold;
  font: inherit;
}

.rotaters:hover span{
  opacity: 1;
}

.rotaters:hover .rotate-x{
  -webkit-animation: animate-x 5s infinite linear;
          animation: animate-x 5s infinite linear;
}

.rotaters:hover .rotate-y{
  -webkit-animation: animate-y 5s infinite linear;
          animation: animate-y 5s infinite linear;
}

.rotaters:hover .rotate-z{
  -webkit-animation: animate-z 5s infinite linear;
          animation: animate-z 5s infinite linear;
}

@-webkit-keyframes animate-y {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}

@keyframes animate-y {
  0% { -webkit-transform: rotateY(0); transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}

@-webkit-keyframes animate-x {
  0% { -webkit-transform: rotateX(0); }
  100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
  0% { -webkit-transform: rotateX(0); transform: rotateX(0); }
  100% { -webkit-transform: rotateX(360deg); transform: rotateX(360deg); }
}

@-webkit-keyframes animate-z {
  0% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); }
}

@keyframes animate-z {
  0% { -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}
