.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 30px;
}

.main-title{
	color: white;
	padding-top: 20px;
}

.tool {
	width: 50%;
  padding-right: 10px;
  display: flex;
	justify-content: flex-end;
	align-items: center;
  text-decoration: none;
}

.github {
  width: 50%;
  padding-left: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  text-decoration: none;
}

.tool span {
	color: white;
	padding-right: 10px;
  opacity: 0;
	font-size: 12px;
  transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}

.github span {
	color: white;
	padding-left: 10px;
  opacity: 0;
	font-size: 12px;
  transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}

.footer p {
  color: white;
  padding-right: 20px;
  cursor: pointer;
}



.github:hover span, .tool:hover span { opacity: 1; }
