.google{
  background-color: white;
  background-image: none;
}

input {
  width: 80%;
  height: 8%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #757575;
  border: none;
  padding-left: 10px;
}


.search-row {
  width: 100%;
  height: 7%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 10px;
}

.search-button p {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.second h1{
  font-family: 'Montserrat', sans-serif;
}

.second span{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.second p{
  font-family: 'Montserrat', sans-serif;
}

.first-letter{
  color: #4285f4 !important;
}

.second-letter{
  color: #ea4335 !important;
}

.third-letter{
  color: #fbbc05 !important;
}

.fifth-letter{
  color: #34a853 !important;
}
