/*author*/

.seventh h1 {
  font-family: 'Roboto', sans-serif;
  /*color: black;*/
}

.bio-container {
  background-color: #bb0000;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}

.bio-container p {
  line-height: 22px;
  padding: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /*font-weight: bold;*/
}
