.sixth h1 {
  /*font-family: 'Roboto', sans-serif;*/
}

.seventh h1 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.seventh span {
  color: black;
}

.eighth h2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}
