/*margin / padding*/

.sixth h2, p {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.margin-box {
  width: 50%;
  height: 80%;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #623ea3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.padders {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b418e;
  padding: 10px;
  width: 80%;
  height: 40%;
  margin: 5%;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.padders p {
  position: absolute;
  top: 33%;
}
